
<app-user-dashboard></app-user-dashboard>



<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-center">SplitTip</h1>
    </div>
  </div>
  <br>

  <div *ngIf="!(af.auth | async)">
    <app-auth></app-auth>
  </div>

  <div *ngIf="af.auth | async">
      <app-tip-splitter></app-tip-splitter>
  </div>

  <footer class="row">
    <div *ngIf="af.auth | async">
      <button
        (click)="logout()"
        class="btn btn-danger">Log Out</button>
    </div>
  </footer>
</div>
